<nav
  [ngClass]="{ scrolled: isScrolled }"
  class="navbar navbar-expand-lg fixed-top"
>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/imgs/logo-transparent.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-5">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" [class.active]="isActive('/')"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies" routerLinkActive="active"
            >Movies</a
          >
        </li>
        <li *ngIf="user" class="nav-item">
          <a
            class="nav-link"
            routerLink="/profile/overview"
            routerLinkActive="active"
            >Profile</a
          >
        </li>
        <li *ngIf="!user" class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
        </li>
        <li *ngIf="!user" class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active"
            >Register</a
          >
        </li>
        <li *ngIf="user" class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
