nav {
  z-index: 100;
  color: white;
  width: 100%;
  transition: background-color 0.3s ease;
  padding: 15px 0px;
}
nav a {
  cursor: pointer;
}
.scrolled {
  background-color: #151414;
}
img {
  height: 30px;
}
a {
  padding: 0;
}
