<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h3>Manage Projections</h3>
      <h5>All Projections</h5>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      (click)="openCreateWindow()"
      width="32"
      height="32"
      fill="currentColor"
      class="bi bi-plus-circle add-svg"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
      />
      <path
        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
      />
    </svg>
  </div>

  <div class="row row-cols-1">
    <ul>
      <li *ngFor="let projection of projections.content; index as index">
        Movie: {{ projection.movie.title }} - Day: {{ projection.day.date }} -
        Start time: {{ projection.screeningTime.startTime | slice : 0 : 5 }}
        <div class="btn btn-primary" (click)="setCurrentProjection(projection)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil"
            viewBox="0 0 16 16"
          >
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
            />
          </svg>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="modify-projection" *ngIf="isModifyMode || isCreatingMode">
  <div class="d-flex justify-content-end mt-2 me-2"></div>
  <div class="container px-5 mt-3">
    <h2 *ngIf="isModifyMode">Modify Projection</h2>
    <h2 *ngIf="isCreatingMode">Create a Projection</h2>
    <form
      [formGroup]="form"
      (ngSubmit)="formSubmit()"
      class="d-flex gap-4 flex-wrap flex-column align-content-center align-items-center"
    >
      <div class="row row-cols-2 row-gap-4">
        <div class="col">
          <label for="movie" class="form-label">Movie:</label>
          <select
            name="movie"
            id="movie"
            formControlName="movie"
            class="form-control"
          >
            <option
              *ngFor="let movie of movies.content; index as i"
              [value]="movie.id"
              [selected]="movie.id === currentProjection?.movie?.id"
            >
              {{ movie.title }}
            </option>
          </select>
        </div>

        <div class="col">
          <label for="day" class="form-label">Day:</label>
          <input
            type="date"
            id="day"
            formControlName="day"
            class="form-control"
          />
        </div>

        <div class="col">
          <label for="screeningTime" class="form-label">Screening Time:</label>
          <input
            type="time"
            id="screeningTime"
            formControlName="screeningTime"
            class="form-control"
          />
        </div>

        <div class="col">
          <label for="movieRoom" class="form-label">Movie Room:</label>
          <select
            name="movieRoom"
            id="movieRoom"
            formControlName="movieRoom"
            class="form-control"
          >
            <option
              *ngFor="let movieRoom of movieRooms.content"
              [value]="movieRoom.id"
              [selected]="movieRoom.id === currentProjection?.movieRoom?.id"
            >
              {{ movieRoom.name }}
            </option>
          </select>
        </div>

        <div class="col d-flex justify-content-between">
          <button
            type="button"
            class="btn btn-outline-dark rounded-3"
            (click)="closeWindow()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary rounded-3"
            [disabled]="form.invalid"
          >
            Save Projection
          </button>
        </div>

        <div class="col d-flex flex-row-reverse">
          <button
            class="btn btn-outline-danger"
            *ngIf="isModifyMode || currentProjection"
            (click)="deleteCurrentProjection()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
              />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
              />
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
