.modify-projection {
  width: 50vw;
  height: 60vh;
  position: fixed;
  z-index: 5;
  background-color: white;
  top: 20%;
  left: 25%;
  border-radius: 20px;
  color: black;
}

svg {
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .modify-projection {
    width: 100vw;
    height: 80vh;
    position: fixed;
    z-index: 5;
    background-color: white;
    top: 10%;
    left: 0;
    border-radius: 20px;
    color: black;
  }
}
