<div class="position-relative">
  <img [src]="bannerUrl" alt="" />
  <div
    class="position-absolute d-flex flex-column align-items-start gap-3 banner"
  >
    <h1>{{ title }}</h1>
    <div class="d-flex gap-5">
      <ul class="d-flex gap-1">
        <li *ngFor="let genre of genres; last as isLast">
          {{ genre | titlecase }}<span *ngIf="!isLast">,</span>
        </li>
      </ul>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="#fee505"
          class="bi bi-calendar"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
          /></svg
        >{{ year }}
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="#fee505"
          class="bi bi-clock"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"
          />
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"
          />
        </svg>
        {{ time | hourFormatter }}
      </p>
    </div>
    <a class="btn btn-primary" routerLink="{{ link }}">Book Tickets</a>
  </div>
</div>
