<div class="container">
  <div class="d-flex">
    <div>
      <h3>Manage Movies</h3>
      <h5>All Movies</h5>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      (click)="openCreateWindow()"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-plus-circle"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
      />
      <path
        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
      />
    </svg>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <div
      class="cont"
      *ngFor="let movie of movies.content; index as index"
      (click)="setCurrentMovie(movie)"
    >
      <app-movie-card
        class="col"
        [movies]="movies.content"
        [index]="index"
      ></app-movie-card>
      <div
        class="overlay rounded d-flex justify-content-center align-items-center"
      >
        <svg
          width="64px"
          height="64px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="#ffffff"
          stroke="#ffffff"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <title></title>
            <g id="Complete">
              <g id="edit">
                <g>
                  <path
                    d="M20,16v4a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H8"
                    fill="none"
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  ></path>
                  <polygon
                    fill="none"
                    points="12.5 15.8 22 6.2 17.8 2 8.3 11.5 8 16 12.5 15.8"
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  ></polygon>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="modify-movie" *ngIf="isModifyMode || isCreatingMode">
  <svg
    (click)="closeWindow()"
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    fill="#black"
    class="bi bi-x-lg"
    viewBox="0 0 16 16"
  >
    <path
      d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
    />
  </svg>
  <form [formGroup]="form" (ngSubmit)="formSubmit()">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title" />

    <label for="description">Description:</label>
    <input type="text" id="description" formControlName="description" />

    <label for="year">Year:</label>
    <input type="number" id="year" formControlName="year" />

    <label for="country">Country:</label>
    <input type="text" id="country" formControlName="country" />

    <label for="duration">Duration</label>
    <input type="text" formControlName="duration" />

    <label for="poster-url">Poster Url:</label>
    <input type="text" id="poster-url" formControlName="posterUrl" />

    <label for="banner-url">Banner Url:</label>
    <input type="text" id="banner-url" formControlName="bannerUrl" />

    <label for="genres">Genres</label>
    <select name="genres" id="genres" formControlName="genres">
      <option *ngFor="let genre of currentMovie?.genres">{{ genre }}</option>
    </select>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <button
    class="btn btn-danger"
    *ngIf="isModifyMode || currentMovie"
    (click)="deleteCurrentMovie()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-trash"
      viewBox="0 0 16 16"
    >
      <path
        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
      />
      <path
        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
      />
    </svg>
  </button>
</div>
