<div class="container">
  <h3>Manage Movies</h3>
  <h5>All Movies</h5>

  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <div
      class="cont"
      *ngFor="let movie of movies.content; index as index"
      (click)="setCurrentMovie(movie)"
    >
      <app-movie-card
        class="col"
        [movies]="movies.content"
        [index]="index"
      ></app-movie-card>
      <div
        class="overlay rounded d-flex justify-content-center align-items-center"
      >
        <svg
          width="64px"
          height="64px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="#ffffff"
          stroke="#ffffff"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <title></title>
            <g id="Complete">
              <g id="edit">
                <g>
                  <path
                    d="M20,16v4a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H8"
                    fill="none"
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  ></path>
                  <polygon
                    fill="none"
                    points="12.5 15.8 22 6.2 17.8 2 8.3 11.5 8 16 12.5 15.8"
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  ></polygon>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
<div class="modify-movie" *ngIf="isModifyMode">
  <form [formGroup]="form">
    <label for="title">Title:</label>
    <input type="text" id="title" [(ngModel)]="currentMovie.title" />
    <label for="description">Description:</label>
    <input type="text" id="description" />
    <label for="year">Year:</label>
    <input type="number" id="year" />
    <label for="country">Country:</label>
    <input type="text" id="country" />
    <label for="duration">Duration</label>
    <input type="time" />

    <label for="poster-url">Poster Url:</label>
    <input type="text" id="poster-url" />
    <label for="banner-url">Banner Url:</label>
    <input type="text" id="banner-url" />
    <select name="genres" id="">
      <option *ngFor="let genre of currentMovie.genres">{{ genre }}</option>
    </select>
  </form>
</div>
