ul {
  list-style-type: none;
  padding: 0;
}
li {
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 111px;
}
li:hover {
  background-color: #ffff001a;
}
a {
  text-decoration: none;
}
.selected {
  color: var(--yellow);
  background-color: #ffff001a;
}
