ul {
  list-style-type: none;
}
li {
  cursor: pointer;
  color: var(--yellow);
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 111px;
}
li:hover {
  background-color: #ffff001a;
}
.selected {
  border: 1px solid var(--yellow);
}
