<div class="container mt-6">
  <ul class="d-flex gap-4 mb-5">
    <a routerLink="overview">
      <li (click)="changePage('profile')" [class.selected]="isProfile">
        Profile
      </li>
    </a>
    <a routerLink="tickets">
      <li (click)="changePage('tickets')" [class.selected]="isTickets">
        Tickets
      </li>
    </a>
    <a routerLink="admin-panel" *ngIf="user?.roleType === 'ADMIN'">
      <li (click)="changePage('admin')" [class.selected]="isAdmin">Admin</li></a
    >
  </ul>
  <router-outlet></router-outlet>
</div>
